body{
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


header {
    background-color: #9d0505;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
}


a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

a:hover {
    background-color: #7a0404;
    border-radius: 50px;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.card h2 {
    font-family: "Times New Roman", Times, serif;
    color: #333;
    margin: 15px 0 10px;
}

.card p {
    color: #666;
    text-align: center;
}

.card button {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    margin-top: auto;
    background-color: #9d0505;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/*
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card button {
    display: flex;
    justify-content: center;
    align-items: row;
    text-align: center;
    background-color: #9d0505;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card h2{
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 10px;
}

.card p{
    font-size: 1rem;
    color: #666666;
    text-align: center;
}*/


.botaoCursos{
    display: flex;
    justify-content: center;
    align-items: row;
    border: none;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
}

.botao button{
    display: flex;
    justify-content: center;
    align-items: row;
    text-align: center;
    background-color: #9d0505;
    color: #fff;
    border: none;
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    border-radius: 80px;
    cursor: pointer;
}

button:hover{
    background-color: #7a0404;
}

footer {
    background-color: #9d0505;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.banner {
    background-image: linear-gradient(90deg, #510303 0%, #9d0505 35%, #f13131 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 180px;
    top: 2%;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: white;
}

.banner img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.banner h1{
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner p{
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.Meus-Cursos, .documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Meus-Cursos h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.Meus-Cursos select, .documentos select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.Meus-Cursos select option{
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
}

.Meus-Cursos button, .documentos button{
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    margin-top: auto;
    background-color: #9d0505;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Meus-Cursos button:hover, .documentos button:hover{
    background-color: #7a0404;
}



#documento::file-selector-button, #certificado::file-selector-button {
    background-color: #9d0505;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#documento::file-selector-button:hover, #certificado::file-selector-button:hover {
    background-color: #7a0404;
}


.Meus-Cursos button:hover {
    background-color: #7a0404;
}


.informacoes-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.painel-documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.painel-documentos form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.painel-documentos form input[type="file"] {
    margin-bottom: 10px;
}

.painel-documentos h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
    margin: 20px 0;
    line-height: 1.6;
    text-align: center;
}

hr {
    background: #9d0505;
    height: 2px;
}